.Login-header {
  background-color: #10485b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  background: rgba(49, 12, 12, 0.5);
  border: 2px solid #616060;
  border-radius: 1em;
  padding: 1em;
  width: 50%;
}

input {
  margin: 0.5em;
  font-size: 0.6em;
  padding: 0.2em;
  background: none;
  color: #e9e9e9;
  width: 96%;
  border: none;
  border-bottom: 1px solid #29f797;
  /* margin: 1.2em; */
}

input:focus {
  outline: none;
  /* border: none; */
}

div.half-width {
  display: flex;
  justify-content: space-between;

}
div.half-width input:nth-child(even) {
  margin-left: 1.2em;
}

button {
  cursor: pointer;
  background: #05a187;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  border-radius: 0.5em;
  color: #e9e9e9;
  margin-top: 1em;
  padding: 0.2em;
  transition: 0.2s ease-in-out background;
}

button:hover {
  background-color: #04552f;
}

h2.text-center {
  text-align: center;
  /* margin: 0;
  padding: 0; */

}
p {
  margin: 0 0 0.5em 0;
  padding: 0;
  color: #29f797;
  text-align: center;
}
p#error {
  font-size: 0.7em;
  color: #ff0000;
  text-align: left;
}
.date-of-birth-select {
  margin-left: 2.8em;
  font-size: 0.6em;
  padding: 0 0.5em;
}

.gender-select input {
  width: 5%;
  margin-left: 2em;
}

.gender-select label {
  font-size: 0.6em;
}

.secondary-text {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: #bbbbbb;

}
form a {
  font-size: 0.6em;
  color: #29f797;
  float: right;
  margin-top: 2em;
}